.searchCard {
    width: 75vw;
    padding: 25px;
    height: auto;
    margin: auto;
    background-color: rgba(212, 179, 148, 0.8);
}

.saveBtn {
    width: 100%;
}

.searchResults {
    text-align: center;
    padding: 25px;
} 

#artist-upcoming {
    font-weight: bolder;
    font-size: 30px;
}
.control {
    margin-left: 15px;
}

body {
    font-family: 'Raleway', sans-serif;
}

.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBody {
    background: lightblue url("https://www.wallpaperflare.com/static/940/311/672/concert-crowd-audience-people-wallpaper-preview.jpg") no-repeat fixed center;
    background-size: cover;
    background-position: bottom;
    height: 80vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.webpage-guide {
    background-color: #954343;
    color: whitesmoke;
    padding-top: 50px;
}
   
.webpage-guide h2 {
    padding-top: 20px;
}

.webpage-guide h3 {
    color: whitesmoke;
}

 .panel-heading{
    background-color: rgba(212, 179, 148, 0.8) ;
}

.event-details {
    padding: 50px;
}

footer {
    height: auto;
}